<!--
  @File Name          : dcPrintRenovacionManifestCheck.page
  @Description        : 
  @Author             : Silvia Velazquez
  @Group              : 
  @Last Modified By   : Silvia Velazquez
  @Last Modified On   : 08-28-2020
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    11/8/2020   Silvia Velazquez     Initial Version
-->
<apex:page showHeader="false" sidebar="false" standardStylesheets="false" standardController="Manifest__c" renderAs="pdf" applyBodyTag="false">
	<head>
        <style>
            
            @page {
                @top-center { 
            		content: element(header); 
            	}
            
	            @bottom-center {
                    content: element(footer);
                }
            
   				margin-top: 43px;
            }
            
            div.header {
	            width: 715px;
	            font-family: Arial Unicode MS;
                position: running(header);
            	margin-top: 30px;
            }

            div.header2 {
	            width: 715px;
	            font-family: Arial Unicode MS;
            	margin-top: 35px;
            }

            div.header3 {
	            width: 715px;
	            font-family: Arial Unicode MS;
            	margin-top: 8px;
            }
            
            div.footer {
	            font-family: Arial Unicode MS;
            	font-size: 12px;
            	text-align: center;
            	padding: 5px;
                position: running(footer);
            }

            div.subfooter {
            	display: inline-block;
            }
            
            .pagenumber:before {
                content: counter(page);
            }

            .pagecount:before {
            	content: counter(pages);
            }
            
            .content{
            	font-family: Arial Unicode MS;
            	margin-top: 30px;
            }

            .tdBold {
                font-weight: bold !important;
            }
        </style>
    </head>
    <div style="page-break-after:always;">   <!--PAGE BREAK-->
        <div class="header2">
            <table style="width: 100%; font-size: 12px;">
                <tr style="height: 62px">
                    <td style="text-align: left; width: 50%; vertical-align: top;">             
                        <!-- <apex:image value="https://districtcuba-dev-ed--c.documentforce.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Jpeg&versionId=0683h0000025JD3&operationContext=CHATTER&contentId=05T3h00000D50ka" height="80px" width="80px"/> -->
                    </td>
                    <td style="text-align: right; vertical-align: middle; padding-right: 9px">
                        <apex:outputText value="{0,date,MM/dd/yyyy}">
                            <apex:param value="{! NOW() }" />
                        </apex:outputText>       
                    </td>
                </tr> 
                <tr style="padding-top: 30px height: 60px">
                    <td style="text-align: left; padding-left: 72px"> 
                        EMBAJADA DE LA REPUBLICA DE CUBA
                    </td>
                    <td style="text-align: right; padding-right: 67px; font-weight: 900">
                        <!-- <b><apex:outputText value="{!Manifest__c.Amount_Due_to_Consulate__c }"/></b> -->
                        <apex:outputText value="{0, number, ###,###,###,##0.00}">
                            <apex:param value="{!IF((Manifest__c.ManifestSecondCheckAmount__c == null),'0.00',Manifest__c.ManifestSecondCheckAmount__c)}"/>
                        </apex:outputText>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left; padding-top: 25px; padding-left: 10px">
                        <apex:outputText value="{! IF((Manifest__c.ManifestSecondCheckAmountInWords__c == null), 'NO DEFINIDO', Manifest__c.ManifestSecondCheckAmountInWords__c) & ' ***********'}"/>
                        <!-- AQUI VA LA DESCRIPCION EN PALABRAS DEL 1er MONTO TOTAL*********** -->
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table style="width: 400px; margin-top: 58px">
                            <tr>
                                <td style="font-size: 10px; padding-left: 32px">
                                    Manifiesto # &nbsp;
                                    <apex:outputField value="{!Manifest__c.Name}"/>
                                     - Cheque Colectivo &nbsp;
                                    <apex:outputField value="{!Manifest__c.Type__c}"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>                
            </table>

        </div>
    </div>
    	<!-- <div class="footer">
            <div class="centered">Generado por {!$User.FirstName} {!$User.LastName}</div>
            <div>
                <div class="subfooter">{!NOW()}</div>
                <div class="subfooter right">Pagina <span class="pagenumber"/> de <span class="pagecount"/></div>
            </div>
        </div> -->
    
        <div class="header3">
            <table style="width: 100%; font-size: 12px;">
                <tr style="height: 62px">
                    <td style="text-align: left; width: 50%; vertical-align: top;">             
                        <!-- <apex:image value="https://districtcuba-dev-ed--c.documentforce.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Jpeg&versionId=0683h0000025JD3&operationContext=CHATTER&contentId=05T3h00000D50ka" height="80px" width="80px"/> -->
                    </td>
                    <td style="text-align: right; padding-right: 9px; vertical-align: middle;">
                        <apex:outputText value="{0,date,MM/dd/yyyy}">
                            <apex:param value="{! NOW() }" />
                        </apex:outputText>       
                    </td>
                </tr> 
                <tr style="padding-top: 50px height: 60px">
                    <td style="text-align: left; padding-left: 72px"> 
                        EMBAJADA DE LA REPUBLICA DE CUBA
                    </td>
                    <td style="text-align: right; padding-right: 68px; font-weight: 900">
                        <!-- <b><apex:outputText value="{!Manifest__c.Amount_Due_to_Consulate__c }"/></b> -->
                        <apex:outputText value="{0, number, ###,###,###,##0.00}">
                            <apex:param value="{!IF((Manifest__c.ManifestFirstCheckAmount__c == null),'0.00',Manifest__c.ManifestFirstCheckAmount__c)}"/>
                        </apex:outputText>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left; padding-top: 25px; padding-left: 12px">
                        <apex:outputText value="{! IF((Manifest__c.ManifestFirstCheckAmountInWords__c == null), 'NO DEFINIDO', Manifest__c.ManifestFirstCheckAmountInWords__c) & ' ***********'}"/>
                        <!-- AQUI VA LA DESCRIPCION EN PALABRAS DEL 2do MONTO TOTAL*********** -->
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table style="width: 400px; margin-top: 59px">
                            <tr>
                                <td style="font-size: 10px; padding-left: 32px">
                                    Manifiesto # &nbsp;
                                    <apex:outputField value="{!Manifest__c.Name}"/>
                                     - Cheque Colectivo &nbsp;
                                    <apex:outputField value="{!Manifest__c.Type__c}"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>                
            </table>
        </div>

        <div class="content">
            <br/>
            <br/> 
            <!-- PROCEDURES -->
            <table style="border-collapse: collapse; width: 100%; font-size: 12px; border-bottom: 1px solid #000000;margin-top: 23px">
                <tr>
                    <td style="font-size: 12px; border-bottom: 1px solid #000000; text-align:center;">
                        Factura #
                    </td>
                    <td style="font-size: 12px; border-bottom: 1px solid #000000; text-align:center;">
                        Manifiesto #
                    </td>
                    <td style=" font-size: 12px; border-bottom: 1px solid #000000; text-align:left;">
                        Nombre
                    </td>
                    <td style="font-size: 12px; border-bottom: 1px solid #000000; text-align:center;">
                        Categor&iacute;a
                    </td>
                    <td style="font-size: 12px; border-bottom: 1px solid #000000; text-align:center;">
                        Cantidad
                    </td>
                </tr>
                <apex:variable var="count" value="{!1}"/>
                <apex:repeat value="{!Manifest__c.Procedures__r}" var="item">
                    <apex:outputText rendered="{!IF(count = 15,true,false)}">
                        <tr> 
                            <td colspan="5">&nbsp;</td> 
                        </tr>
                    </apex:outputText>
                    <tr style="page-break-inside: avoid;">
                        <td style="font-size: 12px; border-bottom: 1px solid #000000; padding-left: 4px; text-align: center;">
                            <apex:outputText value="{!item.Name}"/>
                            <!-- <apex:outputText value="{!count}"/>
                            <apex:variable var="count" value="{!count + 1}"/> -->
                        </td>
                        <td style="font-size: 12px; border-bottom: 1px solid #000000; padding-left: 1px; text-align: center;">
                            <apex:outputField value="{!Manifest__c.Name}"/>
                        </td>
                        <td style="font-size: 12px; border-bottom: 1px solid #000000; padding-left: 5px; text-align: left;">
                            <!-- <apex:outputText value="N/A" rendered="{!CONTAINS(uses.Name,"Signage")}"/>
                            <apex:outputField value="{!uses.Gross_SF__c}" rendered="{!NOT(CONTAINS(uses.Name,"Signage"))}"/> -->
                            <apex:outputText value="{!UPPER(item.Customer__r.FirstName) & ' ' & UPPER(item.Customer__r.Middle_Name__c) 
                                                    & ' ' & UPPER(item.Customer__r.LastName) & ' ' & UPPER(item.Customer__r.Second_Last_Name__c)}" 
                                                rendered="{!NOT(ISNULL(item.Customer__r.Middle_Name__c))}"/>

                            <apex:outputText value="{!UPPER(item.Customer__r.FirstName) & ' ' & UPPER(item.Customer__r.LastName) & ' ' & 
                                                        UPPER(item.Customer__r.Second_Last_Name__c)}" 
                                                rendered="{!ISNULL(item.Customer__r.Middle_Name__c)}"/>
                        </td>
                        <td style="font-size: 12px; border-bottom: 1px solid #000000; padding-left: 4px; text-align: center;">
                            <apex:outputText value="{!UPPER(item.RecordType.Name)}"/> 
                        </td>
                        <td style="font-size: 12px; border-bottom: 1px solid #000000; padding-right: 4px; text-align: center;">
                            <apex:outputText value="{0, number, ###,###,###,##0.00}">
                                <apex:param value="{!item.ProcedureFirstCheckAmount__c}"/>
                            </apex:outputText>
                            <!-- <apex:outputField value="{!item.Consulate_Payment__c}"/> -->
                        </td>
                    </tr>
                    <apex:variable var="count" value="{!count + 1}"/>
                </apex:repeat>
            </table>
        </div>                          
</apex:page>