<apex:page showHeader="false" sidebar="false" standardStylesheets="false" standardController="Procedure__c" renderAs="pdf" applyBodyTag="false" applyHtmlTag="false">
    <head>
        <style>
            @page {
                
            	size: 9cm 3cm;
            	margin-top: 0.01cm;            	
            	margin-bottom: 0.01cm;
            	margin-left: 0.01cm;
            	margin-right: 0.01cm;            
            }
        </style>
    </head>
    <body style="font-family: Arial Unicode MS;">
        <div style="text-align: center; width: 100%; background-color: rgb(23,45,123);">
            <apex:image style="margin-left: 0px;" width="600px;" height="88px;" url="https://www.barcodesinc.com/generator/image.php?code={!Procedure__c.Name}&style=196&type=C128B&width=350&height=70&xres=1&font=3"/>                        
        </div>
    </body>
</apex:page>